fieldset {
    width: fit-content;
    padding: 0px;
    border: none;
    font-family: sans-serif;
}
fieldset.product-card {
    max-width: 100%;
    display: inline-block;
    border-radius: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    max-width: 48%;
}
fieldset.product-card:hover .name{
    color: var(--tg-theme-button-text-color);
}
fieldset.product-card:hover{
    background: var(--tg-theme-button-color);
}
fieldset.product-card img.primary-img {
    max-width: 100%;
    border-radius: 15px;
}
fieldset.product-card div.name {
    padding-left: 10px;
    color: var(--tg-theme-text-color);
    font-size: 100%;
}
fieldset.product-card div.cat {
    font-size: 80%;
    padding-top: 3.5px;
    padding-left: 10px;
    color: var(--tg-theme-subtitle-text-color);
}
a {
    text-decoration: none;
}