.card {
    font-family: sans-serif;
    width: 100%;
}

img {
    width: -webkit-fill-available;
    margin: auto;
    display: block;
    max-width: 95vmin;
    border-radius: 5%
}

.name {
    color: var(--tg-theme-text-color);
    font-size: 9vmin;
    padding-bottom: 7.5px;
}

.cat {
    color: var(--tg-theme-subtitle-text-color);
    font-size: 4vmin;
}

.name, .cat {
    padding-left: 10px;
}

.back-button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 0% 100vw 100vw 0%;
    padding: 3px;
    padding-right: 3vw;
    font-family: sans-serif;
    font-size: 7vmin;
    width: max-content;
}

.back-button a {
    text-decoration: none;
    color: var(--tg-theme-button-text-color);
}

.desc {
    padding-left: 1vw;
    padding-top: 1vw;
    color: var(--tg-theme-text-color);
    font-size: 5vmin;
}