.card {
    font-family: sans-serif;
}

img {
    width: -webkit-fill-available;
    border-radius: 5%
}

.name {
    color: var(--tg-theme-text-color);
    font-size: 9vw;
    padding-bottom: 7.5px;
}

.cat {
    color: var(--tg-theme-subtitle-text-color);
    font-size: 4vw;
}

.name, .cat {
    padding-left: 10px;
}

.back-button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 5px 15px 15px 5px;
    padding: 3px;
    padding-right: 10px;
    font-family: sans-serif;
    font-size: 7vw;
    width: max-content;
}

.back-button a {
    text-decoration: none;
    color: var(--tg-theme-button-text-color);
}