{% load static %}
<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'Front/catalog.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp;
        let userData = tg.initDataUnsafe;
        console.log(userData);
    </script>
</head>
<body>
    <div class="products-list">
        {% for product in products %}
        <fieldset class="product-card">
            <a href="catalog/{{product.uuid}}">
                {% for attachment in product.attachments.all %}
                    <img class="primary-img" src="{{ attachment.file.url }}">
                {% endfor %}
                {% if product.category %}
                    <div class="cat">{{ product.category }}</div>
                {% endif %}
                <div class="name">{{ product.name }}</div>
            </a>
        </fieldset>
        {% endfor %}
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>