{% load static %}
<head>
    <title>{{product.name}}</title>
    <link rel="stylesheet" href="{% static 'Front/catalog.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="name">{{ product.name }}</div>
    <div class="cat">{{ product.category }}</div>
    {% for attachment in product.attachments.all %}
        <img class="primary-img" src="{{ attachment.file.url }}">
    {% endfor %}
    <div class="desc">{{ product.description }}</div>
</body>