{% load static %}
<head>
    <title>{{product.name}}</title>
    <link rel="stylesheet" href="{% static 'Front/catalog.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="back-button">
        <a href="/catalog">В каталог</a>
    </div>
    </br>
    <div class="card">
        <div class="name-block">
            <div class="name">{{ product.name }}</div>
        </div>
        <div class="category-block">
            {% if product.category %}
                <div class="cat">{{ product.category }}</div>
            {% endif %}
        </div>
        <div class="attachment-block">
            {% for attachment in product.attachments.all %}
                <img class="primary-img" src="{{ attachment.file.url }}">
            {% endfor %}
        </div>
        <div class="description-block">
            <div class="desc">{{ product.description }}</div>
        </div>
    </div>
</body>